/* stylesheet */

.navbar-brand {
  width: 200px;
  height: 50px;
}

.headline {
  background-image: url("../images/header-bg-pc.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vw;
  height: 100vh;
}

.project-image {
  width: 480px;
  height: 400px;
}
